
body,p,a {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }


/* base styles */
body{
    overflow-x: hidden;
    line-height: 1.6em;
     font-family: 'Rubik Regular';
       background: lightskyblue;

    
  }

  h1, h2, h3, h4 {
    color: #0A0B5B;
    font-weight: normal;
}

  /* font-styles */
  @font-face {
    font-family: 'Rubik Regular';
    src: url('fonts/Rubik-Regular.ttf');
}

.header-contact {
    text-align: center;
    color:  white;
    background:  #14153D;
    font-size: 13px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
  }

  .tag-logo img {
    grid-column: 1/3;
    width: 100%;
    margin: 20px 20px;
  }
  .tag-logo h3 {
    grid-column: 4/8;
    align-self: center; 
  }
  
  .site-nav ul {
    display: none;
  }

 .banner {
  text-align: center;
 }

  .about-us  {
    margin: 20px 15px;
    color: #0A0B5B;
    padding: 20px 20px;
  }

  .about-us h2 {
    text-align: center;
  }

  .our-services {
    text-align: center;
    margin: 20px 15px;
    color:#0A0B5B;
    padding: 20px 20px;
  }

  .our-services h2  {
    display: inline-block;
    padding-bottom: 12px;
    border-bottom: 3px solid lightgray;
  }


  .copyright {
    text-align: center;
    background-color: #14153D;
    color: white;
    padding: 20px 10px;
  }



  @media screen and (min-width: 620px ) {

 
    .tag-logo, .about-us, .our-services {
      margin: 0 50px;
    }
    header, .copyright  {
      max-width: 100%;
    }
  }

 
  @media screen and (min-width: 960px ) {
    .container {
      font-size: 18px; 
    }

    .tag-logo, .about-us, .our-services {
      margin: 0 100px;
      max-width: 80%;
    }

    

  }
